body{

}

.Cblack{
	color: black;
}

[ng-click]{
	cursor: pointer;
}

.flex{
	display: flex;
}

.flex.fd-row{
	flex-direction: row;
}
.flex.fd-column{
	flex-direction: column;
}

i{
	height: 24px;
}

.icon-text{
	line-height: 24px;
}
.icon-text.ptleft{
	padding-left: 24px;
}

.occupy-all{
	flex: 1;
}

.map-box{
	display: flex;
	flex-direction: row;
}

.map-box .map{
	flex: 1;
}

.map-box .controller{
	display: flex;
	height: 100%;
	width: 100%;
	max-width: 350px;
	flex-direction: column;
}

/* menu-laterale */

.station-intro{
	display: none;
}

.controller .scroll-container{
	flex: 1;
	overflow: hidden;
	overflow-y: auto;
}

image-text{
	display: block;
	position: relative;
	min-height: 80px;
}

image-text .image{
	position: absolute;
	top: 0;
	left: 0;
	height: 80px;
	width: 	80px;
}

image-text .text{
	padding-left: 90px;
}

.badge{
	padding: 8px;
	border-radius: 4px;
	border: 1px solid #98D57D;
	color: #98D57D;
	display: inline-block;
}

.badge .i-align, .badge i{
	font-size: 16px;
	line-height: 16px;
	display: inline-flex;
	vertical-align: middle;
	height: auto;
}

.utils{
	display: none;
}

.bikes i{
	padding: 4px 6px;
}

/* quando una stazione viene aperta */
.zoom-station .station{
	display: none;
}

.zoom-station .station-intro{
	display: block;
}
.zoom-station .default-intro{
	display: none;
}

.station.is-open{
	padding: 0;
	display: block;

	image-text .image{
		position: static;
		height: auto;
		width: 	100%;

		animation: appear .4s;
	}

	image-text .text{
		width: 100%;
		position: absolute;
		bottom: 0;
		padding-left: 0;
		padding: 10px;
		padding-top: 40px;
		color: white;

		background: linear-gradient(to top, rgba(0,0,0,.70)0%, rgba(0,0,0,.40)45%, transparent 100%);
	}

	.utils{
		display: block;
		padding: 10px;
	}

}

@-webkit-keyframes appear {
    0% {
        opacity: 0;
    }
    45% {
        opacity: 0.25;
    }
    70% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
