body{

}

[ng-click]{
	cursor: pointer;
}

.map-box{
	display: flex;
	flex-direction: row;
}

.map-box .map{
	flex: 1;
}

.map-box .controller{
	display: flex;
	height: 100%;
	width: 100%;
	max-width: 350px;
	flex-direction: column;
}

.controller .scroll-container{
	flex: 1;
	overflow: hidden;
	overflow-y: auto;
}

image-text{
	display: block;
	position: relative;
	min-height: 80px;
}

image-text .image{
	position: absolute;
	top: 0;
	left: 0;
	height: 80px;
	width: 	80px;
}

image-text .text{
	padding-left: 90px;
}

.utils{
	display: none;
}

.bike{
	height: 16px;
	margin-left: 5px;
}

/* quando una stazione viene aperta */
.zoom-station .station{
	display: none;
}

.station.is-open{
	padding: 0;
	display: block;

	image-text .image{
		position: static;
		height: auto;
		width: 	100%;

		animation: appear .4s;
	}

	image-text .text{
		width: 100%;
		position: absolute;
		bottom: 0;
		padding-left: 0;
		padding: 10px;
		padding-top: 40px;
		color: white;

		background: linear-gradient(to top, rgba(0,0,0,.70)0%, rgba(0,0,0,.40)45%, transparent 100%);
	}

	.utils{
		display: block;
		padding: 10px 0;
	}

}

@-webkit-keyframes appear {
    0% {
        opacity: 0;
    }
    45% {
        opacity: 0.25;
    }
    70% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
