<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>CityBikeSharing</title>
	<link rel="stylesheet" type="text/css" href="https://rawgit.com/balde73/creativeGo/Staging/css/creativeGo.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3r5VYy6WFPtkxrXPT9WmtUlZdbWEKhI8"></script>
	<script src="assets/angular.js"></script>
	<script type="text/javascript" src="js/build.js"></script>
</head>
<body>
	<div ng-controller="BikeController" class="all-height map-box">

		<div ng-class="{ 'zoom-station' : currentStation }" class="controller all-height Bwhite m-card-2">
			<div class="search-box all-inside padd10">
				<input class="no-border font90" ng-value="currentStation.name" type="" name="">
			</div>
			<div class="space-line op2"></div>
			<div class="scroll-container">
				<ul class="padd10">
					<li ng-class="{'is-open' : station.isOpen}" ng-repeat="station in stations" class="station">
						<image-text>
							<div class="image">
								<div class="Bred all-height"></div>
							</div>
							<div class="text">
								<div class="paddTB5">
									<h2 class="wb">{{ station.name }}</h2>
									<p class="font80 op7 paddT2">{{ station.address }}</p>
								</div>
								<div class="font90">
									<div class="">
										<span class="wb">{{ station.bikes }}</span>/{{ station.totalSlots }} bici disponibili
									</div>
								</div>
							</div>
						</image-text>
						<div class="utils">
							<div class="bikes">
								<img src="/assets/img/small_bike.png" class="split bike" ng-repeat="i in range(station.bikes)">
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<div id="map" class="all-height map">
		</div>

	</div>
</body>
</html>